backend/.env
/backend/lib/uniface/detection/__pycache__
/backend/venv
/backend/misc
/backend/users.db
/backend/local_vector
vite/.env
/backend/src/__pycache__
/backend/src/__pycache__
/backend/src/__pycache__
/backend/lib/uniface/__pycache__
/backend/lib/uniface/__pycache__
